# This configuration will be modified entirely after second ansible will be running.
# According to this reason, this configuration file is as simple as possible.
version: 2
ethernets:
  enp1s0:
    dhcp4: false
    dhcp6: false
    addresses: [{{ instance.network.provider.ip }}]
    gateway4: {{ instance.network.provider.gateway }}
    nameservers:
      addresses: [{% set g = namespace(comma = '') %}{% for item in instance.network.provider.dns.addresses %}{{ g.comma }}{{ item }}{% set g.comma = ', ' %}{% endfor %}]
      search: [ example.com ]
  enp2s0:
    dhcp4: false
    dhcp6: false
    addresses: [{{ instance.network.management.ip }}]
