HOST_BRIDGE_INTERFACE="{{ group_vars.vxlan.provider.interface }}"
VXLAN_GW_PROVIDER_IP="{{ group_vars.vxlan.provider.ip }}"
VXLAN_GW_MANAGEMENT_IP="{{ group_vars.vxlan.management.ip }}"
VXLAN_NAT_SOURCE_IP_TO_PROVIDER_SEGMENT="{{ group_vars.vxlan.provider.nat.src }}"
VXLAN_NAT_SOURCE_IP_TO_MANAGEMENT_SEGMENT="{{ group_vars.vxlan.management.nat.src }}"
PROVIDER_GW="{{ group_vars.vxlan.provider.gateway }}"
