HOST_PROVIDER_BRIDGE_INTERFACE="{{ group_vars.vxlan.provider.interface }}"
HOST_TENANT_BRIDGE_INTERFACE="{{ group_vars.vxlan.tenant.interface }}"
VXLAN_GW_PROVIDER_IP="{{ group_vars.vxlan.provider.ip }}"
VXLAN_GW_TENANT_IP="{{ group_vars.vxlan.tenant.ip }}"
VXLAN_NAT_SOURCE_IP_TO_PROVIDER_SEGMENT="{{ group_vars.vxlan.provider.nat.src }}"
VXLAN_NAT_SOURCE_IP_TO_TENANT_SEGMENT="{{ group_vars.vxlan.tenant.nat.src }}"
PROVIDER_GW="{{ group_vars.vxlan.provider.gateway }}"
