HOST_BRIDGE_INTERFACE="{{group_vars.vxlan.provider.interface  }}"
VXLAN_GW_OUTER_IP="{{ group_vars.vxlan.provider.nat.ip }}"
VXLAN_GW_INNER_IP="{{ group_vars.vxlan.management.nat.ip }}"
VXLAN_NAT_SOURCE_IP_TO_VXLAN="{{ group_vars.vxlan.provider.nat.ip }}"
VXLAN_NAT_SOURCE_IP_TO_INTERNET="{{ group_vars.vxlan.management.nat.ip }}"
