{% if 'autoinstall' in args -%}
{{ args["autoinstall"] | pretty(indent=0) }}
{%- endif %}

autoinstall:
  version: 1
  identity:
    hostname: {{ args["hostname"] }}
    username: sushi7
    password: "$6$xyz$rfUoxhnScmjOykLAVIhgfxmKgIWmTirRSrIZ9j5EJ1Vf765rQS.dCbXjXBx4PuhbcNNrXx2XpwUywQ96C7EJB/"
  ssh:
    install-server: yes
    authorized-keys:
      - "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIOETK2IbbTPHajYDIUaXAtmPL04P+MZQI7VKjSB0sxkL TsutomuNakamura@github.com"
{%- if 'network' in args %}
  network:
{{ args["network"] | pretty(indent=4) }}
{%- endif %}

  storage:
    grub:
      reorder_uefi: false
    config:
      # It assumes that the capacity of /dev/vda is over than 32GiB.
      #
      # Mountpoint: Size,   Filesystem, LVM,           Description
      # /boot/efi:  512MiB, vfat,       ,              -
      # /boot:      512MiB, ext4,       ,              -
      # /var/log:     4GiB, xfs,        lvm-vg01-log,  -
      # -:            4GiB, -,          -,             An empty area of LVM for ceph
      # /:            -GiB, xfs,        lvm-vg01-root, -
      - id: disk-vda
        type: disk
        ptable: gpt
        path: /dev/vda
        wipe: superblock-recursive
        preserve: false
        name: "osdisk"
        grub_device: true

      # Partitions ########################################################
      # /dev/vda1
      - id: part-efi
        type: partition
        device: disk-vda
        size: 512M
        flag: boot
        partition_type: EF00
        wipe: superblock
        preserve: false
        grub_device: true
      # /dev/vda2
      - id: part-boot
        type: partition
        device: disk-vda
        size: 512M
      # /dev/vda3 (LVM Group and LVM will be created on this partition)
      - id: part-ceph
        type: partition
        device: disk-vda
        size: 4G
      # /dev/vda4
      - id: part-pv01
        type: partition
        device: disk-vda
        size: 8G
        flag: lvm
        wipe: superblock
        preserve: false
      # /dev/vda5
      - id: part-pv02
        type: partition
        device: disk-vda
        size: 8G
        flag: lvm
        wipe: superblock
        preserve: false
      # /dev/vda6
      - id: part-pv03
        type: partition
        device: disk-vda
        size: 8G
        flag: lvm
        wipe: superblock
        preserve: false

      # LVM volume groups ##################################################
      # lvm-vg01 <- /dev/vda[456]
      - id: lvm-vg01
        name: lvm-vg01
        type: lvm_volgroup
        devices:
          - part-pv01
          - part-pv02
          - part-pv03

      # lvm-vg01-log <- lvm-vg01 <- /dev/vda[456]
      - id: lvm-vg01-log
        name: lvm-vg01-log
        type: lvm_partition
        size: 4G
        volgroup: lvm-vg01
      # lvm-vg01-root <- lvm-vg01 <- /dev/vda[456]
      - id: lvm-vg01-root
        name: lvm-vg01-root
        type: lvm_partition
        size: -1
        volgroup: lvm-vg01

      # LVM logical volumes ###############################################
      - id: format-efi
        type: format
        volume: part-efi
        fstype: vfat
      - id: format-boot
        type: format
        volume: part-boot
        fstype: ext4
      - id: format-root
        type: format
        volume: lvm-vg01-root
        fstype: xfs
      - id: format-log
        type: format
        volume: lvm-vg01-log
        fstype: xfs

      - id: mount-boot
        type: mount
        device: format-boot
        path: /boot
      - id: mount-efi
        type: mount
        device: format-efi
        path: /boot/efi
      - id: mount-root
        type: mount
        device: format-root
        path: /
      - id: mount-log
        type: mount
        device: format-log
        path: /var/log

{%- if 'late-commands' in args %}
  late-commands:
  {%- for cmd in args['late-commands'] %}
    - {{ cmd }}
  {%- endfor %}
{%- endif %}

resize_rootfs: false
ssh_deletekeys: false
