[Unit]
Description = Custom VXLAN Setting Service
After = network.target

[Service]
ExecStart = /opt/vxlan-builder/set_vxlan_env.sh
Type = oneshot

[Install]
WantedBy = multi-user.target
